$barWidth: 285px;

.danmu{
  height:100%;
  width:100%;
  position:relative;
  >.frame{
    height: 100%;
    border: none;
    outline: none;
    margin-left:$barWidth;
    overflow:hidden;
    position:relative;
    transition:margin-left .3s ease;
    &.hideSide{
      margin-left:0;
    }
    .iframe{
      border: none;
    }
    >.barSwitch{
      position:absolute;
      top:0;
      left:0;
      padding:0 13px;
      height:40px;
      background:#FAFCF3;
      line-height:40px;
      cursor:pointer;
    }
    >.wordsContainer{
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      pointer-events: none;

    }
    >.inputContainer{
      position:absolute;
      bottom:34px;
      left:0;
      right:0;
      margin:auto;
      width:670px;
      padding:6px 12px;
      background: rgba(#f3f3f3,.9);
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,.5);
      >.textField{
        margin-right:112px;
      }
      >.sendButton{
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        align-items: center;
        display: flex;
        padding: 0 12px 0 0;
      }
    }
  }

  >.sideBar{
    width: $barWidth;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    transition:margin-left .3s ease;
    &.hideSide{
      margin-left: -$barWidth;
    }
    >.banner{
      background: #FAFCF3;
      color: #4a4a4a;
      text-align:center;
      padding:17px 13px;
    }

  }


  .listItem{
    div>div>div{
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }
}