
.home{
  height:100%;
  display:flex;

  .main {
    margin: auto;
    >h1{
      color: #E15156;
      text-align: center;
      font-size: 72px;
      font-weight: bold;
      letter-spacing: 9px;
      margin: 0;
    }
    >.description{
      font-size:18px;
      text-align: center;
      color: HSL(0, 0%, 46%);
      margin: 9px 0 16px 0;
    }
    >.copyright{
      font-size:14px;
      text-align: center;
      color: HSL(0, 0%, 59%);
      margin: 16px 0 0 0;
    }
    >.urlText{
      margin:12px auto;
    }

    >.submitButton{
      margin:12px auto;
    }


    .textDanger{
      color: #efefef;
    }
  }

}

