$cyan: #33e0ff;
$humility: #777;
.home{
  height:100vh;
  display:flex;

  .main {
    margin: auto;
    >h1{
      color: #b5d592;
      text-align: center;
      font-size: 72px;
      font-weight: bold;
      letter-spacing: 12px;
    }
    >.urlText{
      margin:12px auto;
    }

    >.submitButton{
      margin:12px auto;
    }


    .textDanger{
      color: #efefef;
    }
  }

}

